body {
  font-family: "Lato", "Pretendard", "Dotum", sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.header {
  /* header */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding: 0 50px;
  height: 100px;
  z-index: 99;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
  transition: all 0.25s ease;
}
.header.on {
  height: 380px;
  background-color: #fff;
  color: #111;
}
.header .logo__link {
  display: flex;
  align-items: center;
  height: 100px;
}
.header .logo__img {
  height: 50px;
}
.header .gnb__list {
  display: flex;
  flex-direction: row;
}
.header .gnb__list > li > a {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 60px;
  position: relative;
}
.header .gnb__list > li > a:hover {
  color: #297bf6;
}
.header .gnb__list > li > a:hover:after {
  transform: scaleX(1);
}
.header .gnb__list > li > a:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #297bf6;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.25s ease;
}
.header .gnb__list .last {
  border-right: 1px solid #ccc;
}
.header .gnb__list--sub {
  padding-top: 30px;
  border-left: 1px solid #ccc;
  height: 250px;
}
.header .gnb__list--sub li a {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}