$black: rgb(39, 35, 35);
$blue: #297bf6;
$red: #ff4634;
$white: #fff;
$gray: #c4c4c4;
$purple: #792b85;
$pinkpurple: #d395c3f1;
$lightpurple: #c4a1ca;
$lightlightpurple: #fef6ff;
$mint: rgb(60, 224, 216);
//_가 붙은  scss  파일은 컴파일 되지 않는다.
