@import "vars";
@import "function";

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.section {
  padding: 50px 0;
  background-color: #fff;
  .container {
    min-height: 300px;
    .title-box {
      h2 {
        font-size: clamp(24px, 7.5vw, 36px);
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-size: clamp(14px, 3.5vw, 24px);
        margin-bottom: 10px;
      }
      a {
        font-size: clamp(14px, 3.5vw, 24px);
        display: flex;
        align-items: center;
        &::after {
          @include icon("keyboard_arrow_right");
        }
      }
    }
  }
}

.main-video {
  width: 100%;
  top: 0;
  z-index: -1;

  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(75%);
  }
  &__txt {
    font-size: clamp(32px, 6.5vw, 48px);
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #fff;
    //animation: arrow-move 1s ease infinite alternate;
    .purple {
      color: $purple;
    }
    .lightpurple {
      color: $lightpurple;
    }
  }

  .arrow {
    position: absolute;
    flex-direction: column;
    left: 30px;
    bottom: 60px;
    width: 90px;
    height: 90px;
    border: 2px dotted $lightpurple;
    border-radius: 50%;
    @include center();
    animation: arrow-move 0.5s ease infinite alternate;
    img {
      width: 50px;
      margin-left: 5px;
      @include center();
    }
    &:hover {
      color: $white;
      background-color: $purple;
      border: solid 1px $purple;
    }
  }
}
/********* main-video end ********/

.typing {
  padding: 200px 50px 0 0;
  margin: 40px 0;
  @include center();
  //border: solid red 1px;

  .type {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    .text_0 {
      padding-bottom: 200px;
      font-size: 32px;
      color: $lightlightpurple;
      @include longShadow(30, darken($pinkpurple, 10));
    }
    .typeBlank {
      padding-bottom: 200px;
      font-size: 32px;
      color: $lightlightpurple;
      @include longShadow(30, darken($white, 0));
    }
  }
}
/************** typing end *************/

.banner {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 80px;
  h2 {
    line-height: 2;
  }

  .banner-wrap {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 31%;
    h2 {
      font-size: clamp(18px, 2vw, 36px);
      font-weight: 700;
    }
    p {
      font-size: clamp(14px, 1vw, 24px);
    }

    img {
      max-width: 100%;
      width: 140px;
      height: 140px;
      object-fit: cover;
    }

    .arrow-left {
      width: 65%;
      display: inline-block;
      // 애니메이션 먹이기 위해서 작성한 부분
      // 인라인 속성은 애니메이션 안 먹음
      animation: arrow-left 0.5s ease infinite alternate;
    }

    .arrow-right {
      width: 25%;
      animation: arrow-right 0.5s ease infinite alternate;
    }
  }
}
/************ banner end *************/

.competition {
  overflow: hidden;
  width: 100%;
  margin-bottom: 80px;
  margin-top: 40px;
  .container {
    width: 100%;
  }

  .title-box {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      font-size: clamp(20px, 3.5vw, 36px);
      font-weight: 700;
      color: $purple;
    }
    p {
      font-size: clamp(16px, 1vw, 24px);
    }
  }
  .competiton_wrap {
    position: relative;
  }

  .competition-list {
    li {
      width: 150px;
      position: relative;

      .img-box {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.25s ease;
        }
      }

      .sticker {
        position: absolute;
        color: #fff;
        padding: 5px 15px;
        border-radius: 100px;
        text-transform: uppercase;
        opacity: 0.85;
        @include longShadow(20, darken($red, 10));
        overflow: hidden;
        box-sizing: border-box;
        background-color: $red;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        top: 10px;
        left: 50%;
        white-space: nowrap; // 무조건 두 줄 안 되고 한줄로
        span {
          font-size: clamp(13px, 2.5vw, 24px);
        }
      }

      .title {
        display: block;
        text-align: center;
        font-size: 20px;
      }
    }
  }

  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $purple;
    z-index: 1;
    &--prev {
      left: 20px;
      color: $purple;
      text-align: center;
      opacity: 0.7;
      &::after {
        font-size: 32px;
        @include icon("chevron_left", 0);
      }
    }
    &--next {
      right: 20px;
      color: $purple;
      text-align: center;
      opacity: 0.7;
      &::after {
        font-size: 32px;
        @include icon("chevron_right", 0);
      }
    }
  }

  .vote {
    padding: 10px 20px;
    background-color: $lightpurple;
    color: $white;
    width: 200px;
    margin: 30px auto;

    text-align: center;
    border-radius: 40px;
    &:hover {
      color: $black;
      border: 1px solid $purple;
      background-color: $white;
      padding: 9px 19px;
    }
  }
}
/*********** competition end **************/

.cat-news {
  background-image: url("../images/main/cat_cover.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: $black;
  padding: 60px 10px;
  text-align: center;

  h2 {
    font-size: clamp(24px, 7.5vw, 36px);
    font-weight: 700;
    margin-bottom: 30px;
  }
  p {
    font-size: clamp(16px, 6vw, 24px);
  }
  a {
    font-size: clamp(14px, 4vw, 24px);
    margin-bottom: 10px;
    color: white;
  }

  .container {
    @include center();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        &:hover {
          background-color: $white;
          color: $black;
          border-radius: 50px;
        }
      }
    }
    .contents {
      width: 100%;
      padding: 30px 0;

      .cat-news__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        > li {
          width: 100%;
          padding: 30px;
          margin: 9px;
          box-sizing: border-box;
          background-color: rgba(255, 255, 255, 0.45);
          border-radius: 20px;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);

          .num_arrow {
            font-size: clamp(24px, 7.5vw, 32px);
            font-weight: 900;
            color: $red;
          }

          .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            margin-bottom: 20px;
            h3 {
              font-size: clamp(24px, 5vw, 32px);
              text-transform: uppercase;
            }
            span {
              font-size: clamp(16px, 4vw, 24px);
              display: flex;
              align-items: center;
            }
            span:after {
              font-size: clamp(12px, 4vw, 24px);
              @include icon("trending_flat");
            }
          }
          &:nth-child(1) .title span:after {
            display: none;
          }
          ul {
            li {
              margin-top: 5px;
              span {
                margin-left: 30px;
              }
              a {
                text-align: start;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                color: $black;

                .date {
                  position: absolute;
                }
              }
            }
          }
          .num {
            &_main {
              font-size: clamp(8px, 7.5vw, 32px);
              font-weight: 900;
            }
            &_state {
              color: $purple;
            }
            &_company {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
/*************** cat-news end******************/

/**************************************/
// keyframe

@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(25px);
  }
}

@keyframes arrow-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3px);
  }
}

@keyframes arrow-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(3px);
  }
}
/**************************************/
