@import "vars";
.main-video {
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  &__txt {
    font-size: 64px * 1.5;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: #fff;
    //animation: arrow-move 1s ease infinite alternate;
    .purple {
      color: $purple;
    }
    .lightpurple {
      color: $lightpurple;
    }
  }
  .arrow {
    position: absolute;
    flex-direction: column;
    left: 100px;
    bottom: 100px;
    width: 140px;
    height: 140px;
    border: 2px dotted $lightpurple;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: arrow-move 0.5s ease infinite alternate;

    &:hover {
      color: $white;
      background-color: $purple;
      border: solid 1px $purple;
    }
  }
}

@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

/********* main-video end ********/
.banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;

  .banner-wrap {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 33%;

    img {
      width: 50%;
      height: 300px;
      object-fit: cover;
    }
  }
}
